html(xmlns="http://www.w3.org/1999/xhtml")
  head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width")
  body
    h2 Nova Solicitação de Distintivo de Semeador.
    p Foi recebida uma nova solicitação de distintivo de semeador da Região Escoteira de Minas Gerais.
    p Confira no sistema administrativo, para atualizar o status: #[a(href="http://admin.uebmg.org.br/sower/update/#{_id}") Link]
    dl
      dt Dados da Solicitação:
      dd #[strong Solicitação:] #{reward}
      dd #[strong Justificativa:] #{resume}
      
      dt Dados do Solicitante:
      dd #[strong Nome:] #{author.name}
      dd #[strong Registro:] #{author.register}
      dd #[strong Email:] #{author.email}
      dd #[strong Telefone:] #{author.phone}
      dd #[strong Celular:] #{author.cellphone}
      dd #[strong Grupo Escoteiro:] #{author.group.number} - #{author.group.name}
      dd #[strong Função:] #{author.role}
      
      dt Dados do Agraciado:
      dd #[strong Nome:] #{gifted.name}
      dd #[strong Registro:] #{gifted.register}
      dd #[strong Grupo Escoteiro:] #{gifted.group.number} - #{gifted.group.name}
